<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712204261647-f8ne2p4muhad1mkhmgo2324voksgmuvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712204261647-f8ne2p4muhad1mkhmgo2324voksgmuvd</string>
	<key>API_KEY</key>
	<string>AIzaSyClJwUF27aP5YHux_gcd3VwYbhuoOk3zXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>712204261647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GrandNewInsyte</string>
	<key>PROJECT_ID</key>
	<string>grandnewinsyte</string>
	<key>STORAGE_BUCKET</key>
	<string>grandnewinsyte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712204261647:ios:4192e85e94cedcb5ca467a</string>
	<key>DATABASE_URL</key>
	<string>https://grandnewinsyte.firebaseio.com</string>
</dict>
</plist>